<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaowu.springboot.mapper.CategoryMapper">
    <update id="updateById2" parameterType="com.xiaowu.springboot.dto.CategoryDTO">
        UPDATE category
        SET  cname = #{cname}
        WHERE id = #{id}
    </update>


    <select id="pageQuery" resultType="com.xiaowu.springboot.domain.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and cname like concat('%',#{name},'%')
            </if>
        </where>
        order by  create_time desc
    </select>

    <select id="selectAll" resultType="com.xiaowu.springboot.domain.Category">
        select * from `category`
    </select>
</mapper>
